.button {
  background-color: transparent;
  border: none;
  background: linear-gradient( to right, var(--blue-100), var(--blue-200) );
  border-radius: 30px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1em;
  line-height: 1.8em;
  outline: none;
  padding: 5px 20px;
  min-width: 120px;
  max-width: 120px;
}
