.loginContainer {
  min-height: 100vh;
  /* background-image: url("../images/pinkplanet.jpg"); */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  composes: formWrapper from "./Form.css"
}

.formItem {
  composes: formItem from "./Form.css"
}

.formHeader {
  composes: formHeader from "./Form.css"
}

.formHeader__title {
  composes: formHeader__title from "./Form.css"
}

.rocketImage {
  composes: rocketImage from "./Main.css";
}
