.message-container{
    display: grid;
    grid: 40px/40px;
    align-content: center;
    grid-area:message-container;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-radius: 0 0 0 10px;
    padding: 0 15px;
}
.message-container button{
    display:grid;
    place-content: center center;
    border-radius: 100%;
    color: darkslateblue;
    background: #EEEEEE;
    text-decoration: none;
    font-size: 3.6rem;
}